<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        table th, td{
            border: 1px solid black;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      $(function() {
        $( "#header0" ).prepend( "<span>" +
            "<a href='/index'>Home</a>" +
            "<a href='/dashboard'>Dashboard</a>" +
            "<a href='/collect'>Collect</a>" +
            "<a href='/courses'>Courses</a>" +
            "<a href='/students'>Students</a>" +
            "<a href='/legalese'>Legalese</a>" +
            "</span>" );
      });

    </script>
</head>
<body>
<header id="header0"></header>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <emph>{{ message }}</emph>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}


</body>
</html>