<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
      $(function() {
        $( "#header0" ).prepend( "<div class='container-fluid bg-dark'>" +
            "<ul class='nav justify-content-around'>" +
            "<li><a class='btn btn-primary' href='/index'>Accueil</a></li>" +
            "<li><a class='btn btn-primary' href='/dashboard'>Dashboard</a></li>" +
            "<li><a class='btn btn-primary' href='/courses'>Formations</a></li>" +
            "<li><a class='btn btn-primary' href='/students'>Etudiants</a></li>" +
            "<li><a class='btn btn-primary' href='/spreadsheets'>Formulaires</a></li>" +
            "</ul></div>" );
      });

    </script>
</head>
<body class="container">
<header id="header0"></header>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="list-group">
    {% for message in messages %}
    <li class="list-group-item list-group-item-info">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}
{% endblock %}


</body>
</html>