{% extends "base.html" %}

{% block content %}

<h1>Liste des formations</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Intitulé</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Fichier de formulaires</th>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.label }}</td>
        <td>{{ course.startdate }}</td>
        <td>{{ course.enddate }}</td>
        <td>{{ course.spreadsheet }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="{{ url_for('course_create') }}">Ajouter</a>
<a class="btn btn-default" href="{{ url_for('course_delete') }}">Supprimer</a>

{% endblock %}