{% extends "base.html" %}

{% block content %}

<h1>Liste des formations</h1>

<div class = "table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Intitulé</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Fichier associé</th>
            <th>Id du fichier</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.label }}</td>
            <td>{{ course.startdate.date() }}</td>
            <td>{{ course.enddate.date() }}</td>
            <td>{{ course.filename }}</td>
            <td>{{ course.fileid }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a class="btn btn-warning" href="{{ url_for('course_create') }}">Ajouter</a>
<a class="btn btn-warning" href="{{ url_for('course_delete') }}">Supprimer</a>

{% endblock %}