{% from "macros.html" import render_field %}

{% extends "base.html" %}

{% block content %}

<h1>Rappel des sélections</h1>

<form action="" class="form" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.courses, class='form-control') }}
    {{ render_field(form.startdate, class='form-control') }}
    {{ render_field(form.enddate, class='form-control') }}
    {{ render_field(form.students, class='form-control') }}
</form>

<h1>Analyse quantitative</h1>


{% for graphpath in graphpaths %}
    <img src="{{ url_for('static', filename=graphpath) }}"/>
{% endfor %}

<h1>Analyse textuelle</h1>


{% endblock %}