{% from "macros.html" import render_field, render_submit %}

{% extends "base.html" %}

{% block content %}

<h1>Liste des onglets</h1>

<p>Chaque élément de la liste correspond à un onglet du fichier lié à la formation</p>
<p>Sont sélectionnés les onglets pour lesquels la date de dernière modification est
    antérieure de {{ form.daysnochange.data }} jours au plus à la date de dernière lecture (mise à jour)</p>

<table class="table">
    <thead>
    <tr>
        <th>Sél.</th>
        <th>Id</th>
        <th>Formation</th>
        <th>Fichier</th>
        <th>Onglet</th>
        <th>Dern. saisie</th>
        <th>Dern. lecture</th>
        <th>Nb réponses</th>
    </tr>
    </thead>
    <tbody>
    {% for gform in gforms %}
    <tr>
        <td>{{ gform.check }}</td>
        <td>{{ gform.Course.id }}</td>
        <td>{{ gform.Course.label }}</td>
        <td>{{ gform.Course.spreadsheet }}</td>
        <td>{{ gform.Form.label }}</td>
        <td>{{ gform.Form.lastentrydate }}</td>
        <td>{{ gform.Form.lastreaddate }}</td>
        <td>{{ gform.answercount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form class="form" method="post" action="" novalidate>
    {{ form.hidden_tag() }}
    {{ render_submit(form.submit, class="btn btn-warning btn-block") }}
</form>

{% endblock %}