{% from "macros.html" import render_field, render_submit %}

{% extends "base.html" %}

{% block content %}

<h1>Liste des onglets connus en base de données</h1>

<p>Chaque élément de la liste correspond à un onglet du fichier lié à la formation ou à une
    formation sans onglet connu.</p>
<p>Sont sélectionnés les onglets pour lesquels la date de dernière modification est
    antérieure de <strong>{{ form.daysnochange.data }}</strong> jours au plus à la date de dernière lecture
    (i.e. date de mise à jour).</p>
<p>Tous les onglets nouveaux inconnus, non listés ici, seront lus et les réponses intégrées en base de données.</p>

<table class="table">
    <thead>
    <tr>
        <th>Sél.</th>
        <th>Id</th>
        <th>Formation</th>
        <th>Fichier</th>
        <th>Onglet</th>
        <th>Dern. saisie</th>
        <th>Dern. lecture</th>
        <th>Nb réponses</th>
    </tr>
    </thead>
    <tbody>
    {% for gform in gforms %}
    <tr>
        <td>{{ gform.check }}</td>
        <td>{{ gform.course.id }}</td>
        <td>{{ gform.course.label }}</td>
        {% if gform.course.filename == "" %}
            <td>-</td>
        {% else %}
            <td>{{ gform.course.filename }}</td>
        {% endif %}
        {% if gform.formscount == 0 %}
            <td>-</td>
            <td>-</td>
            <td>-</td>
        {% else %}
            <td>{{ gform.form.sheetlabel }}</td>
            <td>{{ gform.form.lastentrydt.date().strftime("%d/%m/%Y") }}</td>
            <td>{{ gform.form.lastreaddt.date().strftime("%d/%m/%Y") }}</td>
        {% endif %}
        <td>{{ gform.answerscount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" class="form" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.daysnochange, class='form-control') }}
    {{ render_submit(form.submit, class="btn btn-warning btn-block") }}
</form>

<p>Cette page existe pour permettre de mettre à jour des onglets anciens si besoin.</p>

{% endblock %}