{% from "macros.html" import render_field %}

{% extends "base.html" %}

{% block content %}

<h1>Liste des onglets</h1>

<p>Chaque élément de la liste correspond à un onglet d'un Google spreadsheet</p>
<p>Sont pris en compte les onglets pour lesquels la date de dernière modification est
    antérieure de plus de 15 jours à la date de dernière lecture (mise à jour)</p>

<table class="table">
    <thead>
    <tr>
        <th>Sél.</th>
        <th>Id</th>
        <th>Formation</th>
        <th>Fichier</th>
        <th>Onglets</th>
        <th>Nb réponses</th>
        <th>Dern. saisie</th>
        <th>Dern. lecture</th>
    </tr>
    </thead>
    <tbody>
    {% for gform in gforms %}
    <tr>
        <td>{{ gform.check }}</td>
        <td>{{ gform.Course.id }}</td>
        <td>{{ gform.Course.label }}</td>
        <td>{{ gform.Course.spreadsheet }}</td>
        <td>{{ gform.Form.label }}</td>
        <td>{{ gform.answercount }}</td>
        <td>{{ gform.Form.lastentrydate }}</td>
        <td>{{ gform.Form.lastreaddate }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form class="form" method="post" action="" novalidate>
    {{ form.hidden_tag() }}
<!--    <d1>-->
<!--        {{ render_field(form.enddate, class='form-control') }}-->
<!--    </d1>-->
    <p><input type=submit class='btn btn-warning btn-block'>

</form>

{% endblock %}