{% from "macros.html" import render_field, render_submit %}

{% extends "base.html" %}

{% block content %}

<h1>Liste des fichiers</h1>

<p>Dans cette liste, seules sont sélectionnées les formations en cours après le
    <strong>{{ form.enddate.data.date() }}</strong> et qui ne débutent pas dans le futur</p>

<table class="table">
    <thead>
    <tr>
        <th>Sél.</th>
        <th>Id</th>
        <th>Formation</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Fichier</th>
        <th>Dern. saisie</th>
        <th>Dern. lecture</th>

    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
        <td>{{ course.check }}</td>
        <td>{{ course.Course.id }}</td>
        <td>{{ course.Course.label }}</td>
        <td>{{ course.Course.startdate.date() }}</td>
        <td>{{ course.Course.enddate.date() }}</td>
        {% if course.Course.filename == "" %}
            <td>-</td>
        {% else %}
            <td>{{ course.Course.filename }}</td>
        {% endif %}
        {% if course.lastentrydt == course.lastreaddt %}
            <td>-</td>
            <td>-</td>
        {% else %}
            <td>{{ course.lastentrydt.date() }}</td>
            <td>{{ course.lastreaddt.date() }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" class="form" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.enddate, class='form-control') }}
    {{ render_submit(form.submit, class='btn btn-warning btn-block') }}
</form>

{% endblock %}