{% from "macros.html" import render_field, render_submit %}

{% extends "base.html" %}

{% block content %}

<h1>Liste des fichiers</h1>

<p>Dans cette liste, seules sont sélectionnées les formations en cours après le
    <strong>{{ form.enddate.data.date().strftime("%d/%m/%Y") }}</strong> et qui ne débutent pas dans le futur</p>
<p>La date de dernière saisie est issue de la donnée horodateur la plus récente parmi les entrées connues dans le fichier</p>
<p>La date de dernière lecture est la plus récente date de lecture par ce programme des données du fichier</p>

<table class="table">
    <thead>
    <tr>
        <th>Sél.</th>
        <th>Id</th>
        <th>Formation</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Fichier</th>
        <th>Dern. saisie</th>
        <th>Dern. lecture</th>

    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
    <tr>
<!--        {% if course.check %}-->
<!--            <td><span class="glyphicon glyphicon-ok"></span></td>-->
<!--        {% else %}-->
<!--            <td><span class="glyphicon">&#xe014;</span></td>-->
<!--        {% endif %}-->
        <td>{{ course.check }}</td>
        <td>{{ course.course.id }}</td>
        <td>{{ course.course.label }}</td>
        <td>{{ course.course.startdate.date().strftime("%d/%m/%Y") }}</td>
        <td>{{ course.course.enddate.date().strftime("%d/%m/%Y") }}</td>
        <td>{{ course.course.filename }}</td>
        {% if course.formscount == 0 %}
            <td>-</td>
            <td>-</td>
        {% else %}
            <td>{{ course.lastentrydt.date().strftime("%d/%m/%Y") }}</td>
            <td>{{ course.lastreaddt.date().strftime("%d/%m/%Y") }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>

<form action="" class="form" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.enddate, class='form-control') }}
    {{ render_submit(form.submit, class='btn btn-warning btn-block') }}
</form>

{% endblock %}