{% from "macros.html" import render_field, render_submit %}

{% extends "base.html" %}

{% block content %}

<h1>Ajout d'un étudiant</h1>

<form class= "form" method="post" action="" novalidate>
    {{ form.hidden_tag() }}
    {{ render_field(form.lastname, class='form-control') }}
    {{ render_field(form.firstname, class='form-control') }}
    {{ render_field(form.email, class='form-control') }}
    {{ render_field(form.course, class='form-control') }}
    {{ render_submit(form.submit, class="btn btn-warning btn-block") }}
</form>

{% endblock %}